@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모바일 스크롤 방지 및 부드러운 인터랙션 */
body {
  @apply bg-slate-50 overflow-x-hidden;
  -webkit-tap-highlight-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}